.product-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1050px;
    margin: 24px auto 0px;
    padding: 24px;
}

.product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}